@page "/"

<h1>Hello</h1>

<p>Welcome IdentificationApp</p>

<button class="btn btn-primary" @onclick="@Start">Start API</button>

<button class="btn btn-primary" @onclick="@getRequest">get</button>
<p>Identification data</p>
<p>@name</p>
<p>@birthDate</p>


@using System.Net.Http
@inject HttpClient client
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime;
